.returns {
  @include bg;
  background-image: url("../images/returns.png");
  padding: 60px 0;
  background-color: #05070b;
  @include r($sm) {
    padding: 45px 0;
  }

  &__title {
    margin-bottom: 32px;
    font-size: 28px;
    letter-spacing: 0.28px;
    font-weight: 700;
    line-height: 1.2;

    span {
      color: $white;
    }

    @include r($lg) {
      text-align: center;
    }
    @include r($tablet) {
      font-size: 26px;
    }
    @include r($sm) {
      font-size: 24px;
      max-width: 330px;
      margin: 0 auto 32px;
      line-height: 1.3;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;

    @include r($lg) {
      grid-template-columns: repeat(2, minmax(0, 380px));
      justify-content: center;
    }

    @include r($sm) {
      display: flex;
      flex-direction: column;
      max-width: 430px;
      margin: 0 auto;
    }
  }

  &__item {
    position: relative;
    padding: 14px 16px;
    border-radius: 6px;
    background-color: rgba($black200, .32);
    backdrop-filter: blur(32px);
    display: flex;
    flex-direction: column;

    &:nth-child(3) {
      @include r($lg) {
        grid-column: 1 / -1;
        justify-self: center;
        max-width: 380px;
      }
      @include r($sm) {
        max-width: 100%;
      }
    }

    &-icon {
      margin-bottom: 18px;
      @include r($sm) {
        width: 34px;
        height: 34px;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
      color: $white;
      line-height: 1.1;
      letter-spacing: -0.48px;
      margin-bottom: 16px;

      @include r($tablet) {
        font-size: 22px;
      }

      @include r($phone) {
        font-size: 20px;
      }
    }

    &-description {
      margin-bottom: 18px;

      &.short {
        max-width: 340px;
        @include r($sm) {
          max-width: 100%;
        }
      }

      &.short--two {
        max-width: 310px;
        @include r($sm) {
          max-width: 100%;
        }
      }
    }

    &-badge {
      margin-top: auto;
      color: $white;
      max-width: max-content;
      font-size: 18px;
      padding: 6px 8px;
      line-height: 1.1;
      border-radius: 8px;
      background-color: rgba($white, .12);
    }
  }
}
