.html {
  overflow-x: hidden;
  position: relative;
}

.body {
  background-color: #0B0E11;
  font-weight: 500;
  font-family: $inter;
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 1.4;
  color: rgba($white, .64);
  overflow-x: hidden;
  @include r($sm) {
    letter-spacing: 0;
  }
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.link-more {
  line-height: 1.1;
  border-bottom: 1px solid rgba($white, .64);
  border-radius: 1px;
  outline-offset: 4px;
  outline: 1px solid transparent;
  transition: color .4s, border .4s, background-color .4s, outline .3s;

  &:hover {
    color: $white;
  }

  &:focus {
    outline-color: $white;
  }
}

.copy-tip {
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  background-color: $white;
  color: $black100;
  padding: 5px 10px;
  border-radius: 4px;
  opacity: 0;
  top: -38px;
  left: 12px;
  transition: opacity 0.3s;
  pointer-events: none;

  &--show {
    opacity: 1;
  }

  &.two {
    left: auto;
    right: 0;
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::selection {
  background-color: $white;
  color: $black100;
}