.btn {
  @include flex-align-center(7);
  max-width: max-content;
  background-color: $white;
  color: $black100;
  border-radius: 60px;
  padding: 12px 20px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: background-color .35s ease, border .35s ease, color .35s ease;
  @include r($tablet) {
    padding: 10px 15px;
  }

  &:hover {
    background-color: $white200;
  }

  &:focus {
    outline: none;
    background-color: transparent;
    color: $white;
    border-color: $white;

    svg path {
      fill: $white;
    }
  }

  &--blur {
    color: $white;
    background-color: rgba($white, .1);
    backdrop-filter: blur(12px);

    &:hover {
      background-color: rgba($white, .18);
    }

    &:focus {
      outline: none;
      background-color: rgba($white, .05);
      border-color: $white;
    }
  }

  &--big {
    padding: 18px 38px;
    font-size: 22px;
    letter-spacing: -0.44px;
    @include r($lg) {
      padding: 15px 30px;
      font-size: 20px;
    }
    @include r($tablet) {
      font-size: 18px;
      padding: 14px 27px;
    }
    @include r($phone) {
      font-size: 17px;
      letter-spacing: 0;
    }
  }

  &__icon {
    margin-right: -2px;
    @include r($lg) {
      width: 29px;
      height: auto;
    }
    @include r($tablet) {
      width: 23px;
    }
  }
}