.header {
  position: absolute;
  top: 34px;
  z-index: 2;
  width: 100%;
  @include r($tablet) {
    top: 20px;
  }

  &__inner {
    @include flex-between-center-gap(30);
    font-size: 16px;
    letter-spacing: -0.18px;
  }

  &__logo, &__nav {
    display: flex;
    justify-content: flex-end;
    max-width: 380px;
    width: 100%;
    @include r($lg) {
      max-width: 200px;
    }
  }

  &__logo {
    justify-content: flex-start;

    &-img {
      transition: opacity .3s;
      @include r($sm) {
        width: 120px;
      }
      @include r($phone) {
        width: 114px;
      }

      &:hover {
        opacity: .8;
      }
    }
  }

  &__info {
    font-weight: 600;
    color: $white;
    @include r($tablet) {
      display: none;
    }

    span {
      color: rgba($white, .64);
    }
  }

  &__nav {
    @include flex-align-center(15);
  }

  &__link {
    transition: color .3s, background-color .3s, border .3s, outline .3s;
    border-radius: 4px;
    outline-offset: 3px;
    outline: 1px solid transparent;

    &:hover {
      color: $white;
    }

    &:focus {
      outline-color: $white;
    }

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      @media (max-width: 1100px) {
        display: none;
      }
    }
  }
}