<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <img src="images/logo.svg" width="132" height="50" alt="Tether Oil">
      </div>
      <div class="footer__right">
        <nav class="footer__nav">
          <a class="footer__nav-link" data-smooth-scroll data-extra="false" href="#overview">Overview</a>
          <a class="footer__nav-link" data-smooth-scroll data-extra="false" href="#structure">Structure</a>
          <a class="footer__nav-link" data-smooth-scroll data-extra="false" href="#partners">Partners</a>
          <a class="footer__btn btn btn--blur mobile" href="#">Buy ₮QOR</a>
        </nav>
        <a class="footer__btn btn btn--blur" data-smooth-scroll href="#swap">Buy ₮QOR</a>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copy">
        Copyright © 2013 - 2026 Tether Operations, S.A. de C.V. All rights reserved.
      </p>
      <ul class="footer__socials">
        <li>
          <a class="footer__social" href="#" target="_blank">
            <img src="images/icons/socials/twitter.svg" width="26" height="26" alt="Social Twitter">
          </a>
        </li>
        <li>
          <a class="footer__social" href="#" target="_blank">
            <img src="images/icons/socials/instagram.svg" width="26" height="26" alt="Social Instagram">
          </a>
        </li>
        <li>
          <a class="footer__social" href="#" target="_blank">
            <img src="images/icons/socials/youtube.svg" width="26" height="26" alt="Social YouTube">
          </a>
        </li>
        <li>
          <a class="footer__social" href="#" target="_blank">
            <img src="images/icons/socials/tg.svg" width="26" height="26" alt="Social Telegram">
          </a>
        </li>
        <li>
          <a class="footer__social" href="#" target="_blank">
            <img src="images/icons/socials/linkedin.svg" width="26" height="26" alt="Social Linkedin">
          </a>
        </li>
        <li>
          <a class="footer__social" href="#" target="_blank">
            <img src="images/icons/socials/facebook.svg" width="26" height="26" alt="Social Facebook">
          </a>
        </li>
        <li>
          <a class="footer__social" href="#" target="_blank">
            <img src="images/icons/socials/reddit.svg" width="26" height="26" alt="Social Reddit">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>