<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        <img src="images/logo.svg" width="132" height="50" alt="Tether Oil">
        <p class="footer__copy">₮QOR. All rights reserved © 2026</p>
      </div>
      <div class="footer__right">
        <nav class="footer__nav">
          <a class="footer__nav-link" data-smooth-scroll data-extra="false" href="#overview">Overview</a>
          <a class="footer__nav-link" data-smooth-scroll data-extra="false" href="#structure">Structure</a>
          <a class="footer__nav-link" data-smooth-scroll data-extra="false" href="#partners">Partners</a>
          <a class="footer__btn btn btn--blur mobile" href="#">Buy ₮QOR</a>
        </nav>
        <a class="footer__btn btn btn--blur" data-smooth-scroll href="#swap">Buy ₮QOR</a>
      </div>
      <p class="footer__copy mobile">₮QOR. All rights reserved © 2026</p>
    </div>
  </div>
</footer>