<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img class="header__logo-img" src="images/logo.svg" width="132" height="50" alt="logo TetherOIL">
      </div>
      <p class="header__info">
        <span>Remaining:</span> 8.4M / 1B ₮QOR
      </p>
      <nav class="header__nav">
        <a class="header__link" href="#">Main</a>
        <a class="header__link" href="#">Allocation</a>
        <button class="btn btn--blur header__btn">
          Buy ₮QOR
        </button>
      </nav>
    </div>
  </div>
</header>