<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img class="header__logo-img" src="images/logo.svg" width="132" height="50" alt="logo TetherOIL">
      </div>
      <p class="header__info">
        <span>Remaining:</span> 8.4M / 1B ₮QOR
      </p>
      <nav class="header__nav">
        <a class="header__link" data-smooth-scroll href="#overview">Overview</a>
        <a class="header__link" data-smooth-scroll href="#structure">Structure</a>
        <a class="header__link" data-smooth-scroll href="#partners">Partners</a>
        <a class="btn btn--blur header__btn" data-smooth-scroll data-extra="true" href="#swap">
          BUY ₮QOR
        </a>
      </nav>
    </div>
  </div>
</header>